
$font-family-base: Helvetica Neue,Helvetica,Arial,sans-serif;
$primary: #0d8412;
$secondary: #dadada;
$tertiary: #efefef;

$linkcolor: $primary;

$black: #000;
$white: #fff;
$mediumgrey: #979797;
$darkgrey: #4a4a4a;
$blue: #4e599d;
$lightred: #fcf4f4;
$darkred: #900;
$light: $white;
$info: $blue;
$font-weight-normal: 400;
// Style anchor elements. [138]
$link-decoration: underline;
// Grid breakpoints [152]
$grid-breakpoints: ( xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px);
// Grid containers [169]
$container-max-widths: ( sm: 540px,
md: 720px,
lg: 960px,
xl: 1140px);
// Grid columns [183]
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
// Fonts [214]
$font-size-base: 1rem; // `16px`
$font-size-xxxl: ($font-size-base * 2.875); // '30px'
$font-size-xxl: ($font-size-base * 1.625); // '26px'
$font-size-xl: ($font-size-base * 1.375); // '22px'
$font-size-lg: ($font-size-base * 1.25); // '20px'
$font-size-md: ($font-size-base * 1.125); // '18px'
$font-size-sm: ($font-size-base * .875); // '14px'
$font-size-xs: ($font-size-base * .75); // '12px'
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.17;
$h4-font-size: $font-size-base * 1;
$h5-font-size: $font-size-base * 0.83;
$h6-font-size: $font-size-base * 0.67;

// Buttons [309]
$input-btn-padding-y: .725rem;
$input-btn-padding-x: .75rem;
// Popovers [638]
$popover-header-bg: $white;
$popover-border-color: $secondary;
// Modals [676]
$modal-inner-padding: 10px 40px 20px;
$modal-header-border-color: $white;
$modal-header-padding: 40px 40px 0px;
$modal-lg: 100%;
$modal-md: 500px;
$modal-sm: 380px;
// Alerts [707]
$alert-link-font-weight: $font-weight-normal;
//@import '../../node_modules/bootstrap/scss/bootstrap'; //actual bootstrap file
//@import '~/open-iconic/font/css/open-iconic-bootstrap.scss'; //icons library
//Custom Overrides
.form-group label {
    font-size: $font-size-sm;
    font-weight: bold;
    color: color-yiq($tertiary);
}

.text-muted{
    color: color-yiq($tertiary);
}

a {
    font-size: $font-size-sm;
    color: $linkcolor;
}

.btn {
    text-decoration: none;
}

.btn-block-sm-only {
    margin-top: 0.5rem;
    display: block;
    width: 100%;
}

.text-center-sm-only {
    text-align: center;
}

@include media-breakpoint-up(md) {
    .btn-block-sm-only {
        margin-top: 0.5rem;
        display: inline-block;
        width: auto;
    }

    .text-center-sm-only {
        text-align: inherit;
    }
}

.dob input {
    text-align: center;
}


.popover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    min-width: 350px;
    padding: 10px;
    margin-top: -5px;
    margin-left: 5px;
}

.popover-header {
    border: none;
    font-weight: bold;
    font-size: $font-size-sm;
    width: 90%;
}

.popover-body {
    font-size: $font-size-sm;
}

.popover.bs-popover-bottom .arrow::before,
.popover.bs-popover-auto[x-placement^="bottom"] .arrow::before,
.popover.bs-popover-bottom .arrow::after,
.popover.bs-popover-auto[x-placement^="bottom"] .arrow::after {
    margin-left: -$popover-arrow-width/2;
}

.dismisspopover {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.dismissoverlay {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.disclosure {
    font-size: $font-size-xxl/2;
}

.td-logo {
    height: 24px;
    width: 205px;
    position: relative;
    display: inline-block;
    margin: 28px 0 40px;
}

.email {
    .td-logo {
        width: 100%;
        figure {
            width: 205px;
            display: inline-block;
        }
        span {
            font-size: $font-size-md;
            margin-left: 10px;
            font-weight: 500;
        }
    }
}

.td-header {
    background-color: $primary;
    color: color-yiq($primary);
    border-radius: 5px;
    margin-top: 20px;

    img {
        width: 100%;
        height: 100%;
    }
}

.td-body {
    margin: 0 0 30px;
}

@include media-breakpoint-up(md) {
    .td-body {
        margin: 60px 0;
    }
}

.td-footer {
    margin-bottom: 60px;
    .disclosure:before {
        content: "\a0";
        display: block;
        line-height: 40px;
        border-top: 1px solid $mediumgrey;
    }
}

.email {
    .td-footer {
        color: $mediumgrey;
        margin: auto 20px 60px;
        a {
            color: $mediumgrey;
        }
        .disclosure:before {
            border-top: 1px solid $secondary;
            margin: auto -20px;
        }
    }
}

.disclosure:before {
    border-top: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.popover-contant {
    padding: 5px;
}

.popover-icon {
    cursor: pointer;
    margin-left: 3px;
    outline: 0 !important;
}

.arrow {
    position: absolute;
	display: block;
	width: 15px !important;
	height: 15px !important;
	background-color: white;
	margin: 0 0.3rem;
	border-left: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    transform: rotate(-45deg);
    left: calc(50% - 20px) !important;
	bottom: -9px !important;
}

.td-stages {
    border: none;
    margin: 30px 0 !important;
    .nav-item {
        width: 25%;
        overflow: hidden;
        text-align: center;
        &:last-child {
            .nav-link {
                margin-right: 0;
            }
        }
        &.filled {
            .nav-link {
                background: $primary;
                color: color-yiq($primary);
                border: none;
                text-indent: 20px;
                font-weight: bold;
                min-height: 41px;
                &.active {
                    background: $primary;
                    color: color-yiq($primary);
                    text-indent: inherit;
                    .step-number {
                        display: inline;
                    }
                }
                .step-check {
                    display: inline;
                }
                .step-number {
                    display: none;
                }
            }
        }
        .nav-link {
            width: 100%;
            border-radius: 0;
            border: none;
            padding: 10px;
            padding-left: 15px;
            background-color: $secondary;
            color: color-yiq($secondary);
            text-decoration: none;
            float: left;
            &.active {
                background: $primary;
                color: color-yiq($primary);
                border: none;
            }

            .step-check {
                margin-right: 2px;
            }

            .step-number {
                &:after {
                    content: ""
                }
            }

            .step-description {
                display: none;
            }
        }



        &:first-child {
            .nav-link {
                border-radius: 5px 0 0 5px;
            }
        }

        &:last-child {
            .nav-link {
                border-radius: 0 5px 5px 0;
            }
        }
    }
}

.static-header {
    font-weight: bold;
    font-size: $font-size-lg;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.static-group {
    margin-bottom: 20px;
    .label {
        padding: 0;
        font-weight: bold;
    }
    span {
        padding: 10px 0;
        display: block;
    }
}

.submit-app {
    padding: 40px 0 0;
    border-top: 1px solid $darkgrey;
    margin-top: 40px;
}

.terms {
    border: 1px solid $darkgrey;
    padding: 20px;
    height: 300px;
    overflow-y: scroll;
    margin: 20px 0;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        -webkit-border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(100, 100, 100, 0.8);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    &::-moz-scrollbar {
        width: 10px;
    }
    &::-moz-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        -webkit-border-radius: 8px;
    }
    &::-moz-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(100, 100, 100, 0.8);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
}

select.form-control:not([size]):not([multiple]) {
    background: url('/assets/select_arrow.png') no-repeat right #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 40px;
}

div.dob {
    div.col {
        margin-right: 5px;
        &:last-child {
            margin-right: auto;
        }
    }
}


.alert-info {
    color: $primary;
    background-color: rgba($primary, 0.1);
    border: none;
}

.container-box {
    background: $tertiary;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.form-group.required {
    label {
        &:after {
            content: ' *';
        }
    }
    &.error {
        label {
            color: $danger;
            &:before {
                content: ' ';
                background: url('/assets/status_error_medium.png') no-repeat;
                background-position-y: 2px;
                background-size: 16px;
                padding-left: 20px;
            }
        }
        input,
        select {
            background-color: $lightred;
            border-color: $danger;

            &::-webkit-input-placeholder {
                color: $danger;
            }

            &:-moz-placeholder {
                /* Firefox 18- */
                color: $danger;
            }

            &::-moz-placeholder {
                /* Firefox 19+ */
                color: $danger;
            }

            &:-ms-input-placeholder {
                color: $danger;
            }
        }
        .invalid-feedback {
            font-size: $font-size-base;
            display: block !important;
        }

    }
}

#step1Modal,
#step2Modal,
#step3Modal,
#emailValidationModal {
    background: $white;
    .modal-content {
        background: none;
        border: none;
    }
}

.modal-header {
    border: none;

    .close {
        padding: 0;
    }
}

body.modal-open {
    overflow: hidden;
    position: fixed;
    .container {
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
    }
}

@include media-breakpoint-up(md) {
    body.modal-open {
        position: relative;
    }
}

.modal {
    text-align: center;
    padding: 0!important;
    -webkit-overflow-scrolling: touch;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.staticedit {
    position: absolute;
    right: 0;
    font-weight: bold;
    z-index: 1;
    min-width: inherit !important;
}

#blockUI {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    top: 0;
    text-align: center;
}

.loader {
    position: absolute;
    display: inline-block;
    top: 50%;
    margin-left: -25px;
    left: 50%;
    .dot {
        width: 10px;
        height: 10px;
        background: $blue;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 5px);
    }

    .dot1 {
        left: 0px;
        -webkit-animation: dot-blink 1s infinite alternate;
        animation: dot-blink 1s infinite alternate;
    }

    .dot2 {
        left: 20px;
        -webkit-animation: dot-blink 1s 0.4s infinite alternate;
        animation: dot-blink 1s 0.4s infinite alternate;
    }

    .dot3 {
        left: 40px;
        -webkit-animation: dot-blink 1s 0.8s infinite alternate;
        animation: dot-blink 1s 0.8s infinite alternate;
    }
}

.print-link {
    margin: 40px;
    text-align: center;

    a {
        color: $darkred;
        text-decoration: none;
        font-size: $font-size-sm;

        &:hover {
            text-decoration: underline;
        }
    }
}

.checkbox {
    height: auto !important;
}

.invalid-feedback {
    white-space: nowrap;
    display: block !important;
}

/* ----------------     KEYFRAMES    ----------------- */

@-webkit-keyframes dot-blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
        -ms-transform: scale(0.90, 0.90);
        /* IE 9 */
        -webkit-transform: scale(0.90, 0.90);
        /* Safari */
        transform: scale(0.90, 0.90);
    }
}

@keyframes dot-blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
        -ms-transform: scale(0.90, 0.90);
        /* IE 9 */
        -webkit-transform: scale(0.90, 0.90);
        /* Safari */
        transform: scale(0.90, 0.90);
    }
}


//Variable font size from mobile up
@include media-breakpoint-up(md) {

    .btn {
        min-width: 220px;
        margin-right: 15px;
    }

    .td-stages {
        .nav-item {
            text-align: left;
            &.filled {
                .nav-link {
                    background-color: $primary;
                    .step-check {
                        display: inline;
                    }
                }
            }
            .nav-link {
       
                .step-number {
                    &:after {
                        content: ". "
                    }
                }

                .step-description {
                    display: inline;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {

    .btn {
        min-width: 140px;
        margin-right: 15px;
    }

    p > .btn:last-child {
        margin-right: initial;
    }

    .form-control {
        font-size: $font-size-xs;
        padding: 0.6rem 0.75rem;
    }
    input,
    .input-group-prepend,
    .input-group-append,
    select {
        height: 40px !important;
    }
}
